@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}
body {
  font-size: 20px !important;
  color: #444444 !important;
  line-height: 1.8 !important;
  background: #fff;
  overflow-wrap: break-word;
}
body p {
  margin-bottom: 0;
}
body h2 {
  font-size: 48px;
  line-height: 1.3;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333333;
  letter-spacing: -1px;
}

.spacing {
  box-sizing: border-box;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}

.contain {
  width: 1280px;
  max-width: 95%;
  position: relative;
  margin: 0 auto;
}

.heading h2 {
  font-size: 64px;
  font-weight: 700 !important;
}

.image img {
  width: 100%;
  height: 100%;
}
.gap-spacing {
  height: 30px;
}

@media screen and (max-width: 1024px) {
  .contain {
    max-width: 100%;
  }
}
@media screen and (max-width: 1240px) {
  .contain {
    width: 90% !important;
    padding: 0;
  }
}
/* section one */
.hero-section-bgOne {
  background-image: url("../assets/img/bg1.png");
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: contain;
}
.hero-section-one-description .main {
  font-size: 64px;
  color: #000000;
}
.hero-section-one-description .gap {
  height: 50px;
}
.hero-section-one-img {
  height: 510px;
  background-image: url("../assets/img/imgOne.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 10px;
}
/* .hero-section-one-img img {
  max-height: 100%;
} */

/* Services */
.services {
  margin: 80px 0;
}

.bulletPoint {
  font-size: 16px;
  font-weight: 500 !important;
  margin: 0 0 10px;
  display: list-item;
  width: 100%;
  list-style: none !important;
}
.bulletPoint .description {
  display: table-cell;
  vertical-align: middle;
  text-decoration: inherit;
}
.bulletPoint .icon {
  display: table-cell;
}
.fa-angle-right {
  width: 2em;
  height: 2em;
  border-radius: 50px;
  padding: 1px 0px 0px 1px;
  margin-right: 10px;
  color: #000000;
  font-size: 14px !important;
  box-shadow: 4px -7px 11px rgb(0 0 0 / 28%) inset;
  background-color: #ffffff;
  line-height: 2em !important;
  text-align: center;
  display: block !important;
}

/* About */
.about {
  margin: 80px 0;
}
.about .description {
  font-size: 18px;
}

/* properties */
.properties {
  margin: 80px 0;
}
.properties .property-img img {
  margin: 5px 0;
}

/* navigationBox */
.navigationBox {
  background-position: center top;
  background-size: cover;
  background-image: linear-gradient(
      90deg,
      rgba(145, 145, 145, 0.1),
      rgba(145, 145, 145, 0.1)
    ),
    url("../assets/img/bg6.png");
  padding-top: 25px;
  padding-bottom: 20px;
}
.navigationBox .pagename {
  flex: 1;
}
.navigationBox .pagename h4 {
  font-size: 28px;
  color: #000000;
  font-weight: 400 !important;
  letter-spacing: 0px !important;
  padding-top: 10px;
  padding-bottom: 10px;
}
.navigationBox a {
  text-decoration: none !important;
  color: #000000 !important;
}

/* Footer */
.footer .footer-1 {
  background-repeat: no-repeat;
  background-position: center top !important;
  background-image: url("../assets/img/bg6.png"),
    linear-gradient(90deg, #f1f1f1, #f1f1f1);
  padding-top: 60px !important;
  padding-bottom: 50px !important;
  padding: 30px 0 0;
}
.footer .logo-footer {
  margin-bottom: 50px;
  width: 160px;
  display: table;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.footer .sec-1 {
  margin-top: 50px !important;
  margin-bottom: 60px !important;
}
.footer .footer-spacing {
  padding: 10px;
  margin: 0 0 30px;
}
.footer .sec-2 {
  margin-bottom: 20px;
}
.footer .sec-2 .list-menu {
  padding: 0;
  margin: 0;
  list-style: none !important;
  text-align: center !important;
}
.footer .list-menu li {
  display: inline-block !important;
}
.footer .list-menu li a {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 500;
  padding: 2px 0px 5px;
  margin-top: 0px;
  margin-right: 20px;
  margin-left: 20px;
  border-style: solid;
  border-bottom-width: 2px;
  border-color: transparent;
  line-height: 2;
  background-color: rgba(255, 255, 255, 0.01);
  float: left;
  margin: 0 20px;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
}
.footer .list-menu li a:hover,
.activeLink-footer {
  color: #000000 !important;
  border-bottom: solid #333333 !important;
}

@media screen and (max-width: 480px) {
  .footer .list-menu li a {
    font-size: 16px;
    line-height: 2.8;
    margin-right: 10px;
    margin-left: 10px;
  }
}
.footer .sec-3 .media {
  text-align: center;
  display: table;
  margin-left: auto;
  margin-right: auto;
}
.footer .sec-3 .media a {
  font-size: 24px;
  color: #333333;
  background-color: #ffffff;
  padding: 12px;
  margin-right: 15px;
  margin-bottom: 20px;
  margin-left: 15px;
  border-radius: 99px;
  box-shadow: 0px 10px 30px 0px rgb(0 0 0 / 12%);
  display: inline-block;
  width: 3em;
  height: 3em;
}
.footer .sec-3 .media a i {
  transition: all 0.4s ease;
}
.footer .sec-3 .media a:hover {
  color: #ffffff;
  background-color: #333333;
}
.footer .sec-3 .media a:hover i {
  transform: rotateY(360deg);
}
@media screen and (max-width: 480px) {
  .footer .sec-3 .media a {
    font-size: 20px;
    padding: 10px;
    margin-right: 8px;
    margin-left: 8px;
  }
}
.footer .footer-2 {
  background-color: #f1f1f1;
}
.footer .footer-2 .text p {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.4);
  padding-top: 20px;
  padding-bottom: 50px;
}

/* header */
.header {
  margin-bottom: 5px;
}
.header .desktopbar {
  display: flex;
}
.header .logo {
  flex-grow: 1;
}
.header .logo img {
  width: 160px;
}
.header .desktopbar .menu {
  margin-top: 35px;
  margin-right: 20px;
  margin-bottom: 18px;
}
.header .desktopbar .menu .list {
  list-style: none !important;
  display: flex;
}
.header .desktopbar .menu .list li a {
  font-size: 17px;
  color: #999999;
  font-weight: 600;
  letter-spacing: 0px;
  text-transform: uppercase;
  padding: 6px 0px;
  margin-right: 20px;
  margin-left: 20px;
  text-decoration: none;
}
.header .desktopbar .menu .list a:before {
  display: block;
  content: "";
  position: absolute;
  z-index: -1;
  background-color: #154a40;
  width: 12px;
  height: 12px;
  top: -45px;
  left: calc(50% - 6px);
  transform: rotate(45deg);
}
.active-desktopbar {
  color: #000000 !important;
}

/* Blog */
.blogDisplay {
  margin: 80px 0;
}
.blogDisplay .blogDisplay-blogPost {
  margin: 0 0 20px;
}
.blogDisplay .blogPost-img {
  margin: 0 0 20px;
}
.blogDisplay .blogPost-title h3 {
  font-weight: 700 !important;
  font-size: 22px;
}
.blogDisplay .blogPost-date p {
  font-size: 0.7em;
  /* color: #fff; */
}